html {
    background-image: linear-gradient(to top right, #000000, #3e403f);
    height: 100%;
    margin: 0;
}
h1 {
     
    font-family: 'Roboto', sans-serif;
     color: #52e38e;
     text-align: center;
     font-size: 100px;
}
h2 {
     
    font-family: 'Roboto', sans-serif;
     color: #52e38e;
     text-align: center;
     font-size: 50px;
     offset-distance: 50 0;
}
/* Add a black background color to the top navigation */
.topnav {
    
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    transition: background-color .5s ease;
  }
  
  /* Change the color of links on hover */
  
  .topnav a:hover {
    background-color: #52e38e;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #52e38e;
    color: white;
  }
  * {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
    position: absolute;
    top: 999px;
    left: 50%;
    
  }
  
